.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  justify-items: center;
  align-self: center;
  gap: 2rem;
  margin: 1rem 2rem;
}

.statusNotice {
  margin: 2rem;
  color: white;
  font-family: "urbanist", sans-serif;
}
