#flexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "urbanist", sans-serif;
  padding: 1rem 2rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 75%;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.allSmallImages {
  display: flex;
  flex-direction: column;
  width: 15%;
  gap: 0.5rem;
}

.smallImgDiv {
  position: relative;
  width: fit-content;
  aspect-ratio: 1 / 1;
}

.smallImages {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: rgba(118, 116, 116, 0.249);
  border-radius: 0.5rem;
  cursor: pointer;
}

.mainImageStyle {
  width: 50%;
  aspect-ratio: 1 / 1;
  background-color: rgba(118, 116, 116, 0.249);
  border-radius: 1rem;
  cursor: pointer;
}

.selectedImgOverlay {
  position: absolute;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
}

.details {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--primary-font);
  color: white;
  border-radius: 1rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
}

.title,
.description {
  margin: 0;
}

.checkout {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.category {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  margin-left: 0.5rem;
}

.priceLabel {
  font-size: 0.75rem;

  margin: 0.25rem 0;
  font-weight: 400;
}

.amount {
  font-size: 1.2rem;
  margin: 0.25rem 0;
  font-weight: 600;
}

.oldAmount {
  text-decoration: line-through;
}

.newAmount {
  color: lightgreen;
}

.backLink {
  color: lightgrey;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  font-size: 1rem;
  font-family: "urbanist", sans-serif;
  text-decoration: none;
  padding: 0;
}

.backBtnFlex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.backBtnContentFlex {
  display: flex;
}

.arrowIcon {
  width: 1.2rem;
}
