#count {
  grid-area: overlap;
  justify-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 1.3em;
  height: 1.3em;
  margin: 0 0 2em 1em;
  font-size: 1em;
}
