#hero {
  position: relative;
  height: 100vh;
  min-height: 40rem;
  max-height: 1000px;
  width: 100%;
  font-family: var(--primary-font);
  margin: 0;
}

.heroCard {
  display: flex;
  justify-content: center;
  font-family: inherit;
  height: 100%;
  background-image: 
  /* The lighting overlay: dark edges, dim center */
    radial-gradient(circle, rgba(0, 0, 0, 0.2) 20%, rgba(0, 0, 0, 0.85) 80%),
    url("@/assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: left;
}

@media (max-width: 768px) {
  #hero {
    height: 70vh;
  }
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
  max-width: 50%;
}

.headline {
  color: white;
  font-weight: 600;
  font-size: 3.5rem;
  margin: 0;
  text-align: center;
}

.text {
  color: white;
  font-size: 1.25rem;
  margin: 0;
  text-align: center;
}

.shopNowBtn {
  width: max-content;
  max-width: 100%;
  border: 1px solid white;
  padding: 1rem 2.5rem;
  color: white;
  background-color: black;
  font-family: inherit;
  cursor: pointer;
  font-size: var(--fs-hero);
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0.5rem;
}

.shopNowBtn:hover {
  color: lightgray;
}
